@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

body {
	background-color: #5177D6;
  	color: #FFFFFF;
	font-family: 'Hind';
  	font-weight: 400;
  	padding: 0 25px;
}

body::after {
	content: "";
  	background: url('//storage.proboards.com/7200422/images/Vaf0cAHIEgfdOrIAKGAY.jpeg');
  	background-position: top center;
  	background-size: cover;
  	background-repeat: no-repeat;
  	opacity: 0.25;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: fixed;
  	z-index: -1;
}

textarea, input, select, button {
	background-color: #DEE6FA;
	border: none;
	color: #5177D6;
	font-family: 'Hind';
	padding: 10px;
	margin: 10px;
}

textarea {
	width: 90%;
	margin: 10px 0;
}

button {
	background-color:#9381FF;
	margin:10px 25px 10px 0;
}

input {
	width: 30%;
}

#generate-button, #reset {
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 1.2pt;
	font-weight: bold;
}

fieldset {
	border: 2px solid #9381FF;
	padding: 30px;
	margin: 25px 0;
}
legend {
	padding: 0 10px;
  	font-size: 16pt;
  	font-weight: bold;
}

hr {
	border-width: 0;
	background: #9381FF;
	color: #9381FF;
	height: 2px;
}

#output {
	font-family: 'Hind';
	font-size: 10pt;
	background-color: rgba(56, 185, 255, 0.6);
	padding: 25px;
}

#output h2 {
	font-family: 'Hind';
	background-color: rgba(1, 154, 237, 0.6);
	padding: 5px 25px;
	text-align: center;
}

::selection {
	background-color: #5177D6;
}

h1 {
	font-family: 'Hind';
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4pt;
}
